.user-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #b2b2b2;
  padding: 10px;
  border-radius: 12px;
  background-color: #727272;
  color: #ececec;
}

.user-card h2 {
  margin-top: 0;
  color: black;
}
